<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <IncludeTestAssembly>false</IncludeTestAssembly>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*[\\/]DynamicData(\.Reactive)?\.dll$</ModulePath>
      </Include>
    </ModulePaths>
    <SkipAutoProperties>false</SkipAutoProperties>
  </CodeCoverage>
</Configuration>
