name: Build and Release

on:
  push:
    branches: [ main ]

env:
  configuration: Release
  productNamespacePrefix: "ReactiveMarbles"

jobs:
  release:
    runs-on: windows-latest
    environment:
      name: release
    outputs:
      nbgv: ${{ steps.nbgv.outputs.SemVer2 }}
    steps:
       
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup .NET (With cache)
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x
            10.0.x
        cache: true
        cache-dependency-path: |
            **/Directory.Packages.props
            **/*.sln
            **/*.csproj
            **/global.json
            **/nuget.config

    - name: NBGV
      id: nbgv
      uses: dotnet/nbgv@master
      with:
        setAllVars: true
        
    - name: NuGet Restore
      run: dotnet restore DynamicData.sln
      working-directory: src
      
    - name: Build
      run: dotnet pack --no-restore --configuration Release DynamicData.sln
      working-directory: src

    - name: Changelog
      uses: glennawatson/ChangeLog@v1
      id: changelog

    - name: Create Release
      uses: actions/create-release@v1.1.4
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
          tag_name: ${{ steps.nbgv.outputs.SemVer2 }}
          release_name: ${{ steps.nbgv.outputs.SemVer2 }}
          body: |
            ${{ steps.changelog.outputs.commitLog }}
            
    - name: NuGet Push
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET_API_KEY }}
        SOURCE_URL: https://api.nuget.org/v3/index.json
      run: |
        dotnet nuget push -s ${{ env.SOURCE_URL }} -k ${{ env.NUGET_AUTH_TOKEN }} **/*.nupkg
